* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  background: #eee;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.05em;
}
h1 {
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 100px;
}
.options {
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 100px;
}
select {
  height: 30px;
  width: 200px;
  font-size: 16px;
}
button {
  height: 30px;
  width: 200px;
  font-size: 16px;
}
.info-message {
  background-color: #e6f7ff;
  color: #00529B;
  border: 1px solid #b3d8ff;
  padding: 12px 20px;
  margin: 20px 0;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 100px;
  width: fit-content;
  
}
label {
  font-size: 16px;
  margin-right: 20px;
}
.guitar-neck {
  position: relative;
  margin-top: 20px;
  margin-left: 100px;
  width: 1350px;
  height: 200px;
  background: #ffffff;
  box-shadow: inset -1px 0px 11px 0px rgba(0, 0, 0, 0.75);
}
.guitar-neck .open-notes {
  position: absolute;
  left: -35px;
}
.guitar-neck .open-notes li {
  margin-bottom: 15px;
  font-size: 18px;
  color: #fff;
}
.guitar-neck .open-notes li.active {
  color: #ff8000;
}
.guitar-neck .fret {
  float: left;
  width: 3px;
  height: 200px;
  background: #d7d6d6;
  margin-left: 75px;
  border-right: 1px solid #686868;
}
.guitar-neck .fret.first {
  position: absolute;
  width: 50px;
  left: -52px;
  top: 0;
  margin-left: 0;
  background: #211f1d;
}
.guitar-neck .dots {
  position: absolute;
  width: 1350px;
  height: 20px;
  top: 44%;
}
.guitar-neck .dots li {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #dadada;
}
.guitar-neck .dots-3 {
  margin-left: 188px;
}
.guitar-neck .dots-5 {
  margin-left: 138px;
}
.guitar-neck .dots-7 {
  margin-left: 138px;
}
.guitar-neck .dots-9 {
  margin-left: 138px;
}
.guitar-neck .dots-12-a {
  margin-left: 217px;
  margin-top: 70px;
}
.guitar-neck .dots-12-b {
  margin-left: -20px;
  margin-top: -70px;
}
.guitar-neck .dots-15 {
  margin-left: 138px;
}
.guitar-neck .dots-17 {
  margin-left: 138px;
}
.guitar-neck .strings {
  position: absolute;
  left: 0;
  top: 10px;
  width: 1350px;
  height: 200px;
}
.guitar-neck .strings li {
  height: 1px;
  display: inline-block;
  width: 100%;
  background: #ffffff;
  margin-bottom: 28px;
  border-top: 1px solid #505050;
  border-bottom: 1px solid #505050;
  box-sizing: border-box;
}
.guitar-neck .strings li:nth-child(2) {
  height: 2px;
}
.guitar-neck .strings li:nth-child(3) {
  height: 3px;
}
.guitar-neck .strings li:nth-child(4) {
  height: 4px;
}
.guitar-neck .strings li:nth-child(5) {
  height: 5px;
}
.guitar-neck .strings li:nth-child(6) {
  height: 6px;
}
.guitar-neck .notes {
  position: absolute;
  left: 30px;
  width: 1350px;
  height: 200px;
  font-size: 12px;
}
.guitar-neck .notes .mask {
  position: absolute;
  bottom: 3px;
  width: 1350px;
  height: 20px;
}
.guitar-neck .notes .mask ul {
  position: relative;
  float: left;
}
.guitar-neck .notes .mask ul li {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 59px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
  user-select: none;
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none;    /* For Firefox */
  -ms-user-select: none;     /* For IE/Edge */
}

.guitar-neck .notes .mask ul li.active {
  background: #fa990f;
  color: #fff;
}

.guitar-neck .notes .mask ul li.inactive {
  background: #e9e9e9;
  color: #404040;
}

.guitar-neck .notes .mask.a {
  bottom: 40px;
}
.guitar-neck .notes .mask.d {
  bottom: 76px;
}
.guitar-neck .notes .mask.g {
  bottom: 112px;
}
.guitar-neck .notes .mask.b {
  bottom: 146px;
}
.guitar-neck .notes .mask.high-e {
  bottom: 180px;
}