.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox .checkmark {
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
  vertical-align: middle;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: green;
  border-color: green;
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  display: block;
}

.custom-checkbox input[type="checkbox"]:disabled + .checkmark {
  background-color: #d3d3d3;
  border-color: #a9a9a9;
  cursor: not-allowed;
}

.custom-checkbox input[type="checkbox"]:disabled:checked + .checkmark {
  background-color: #a9a9a9;
}


.custom-checkbox input[type="checkbox"]:disabled:checked + .checkmark::after {
  border-color: #7f7f7f;
}